$accent-color: #D7B399;
$secodary-color: #F9F6F1;
$accent-dark: #212121; 
$seconadry-accent: #d84033;
$special-accent: #d84033;
$btn_bg: #cecece;
$input-color: #8d8d8d;
$footer-link-color: #cbcfd4;
$dark: #0000;
$light: #ffff;
$main-font: "Montserrat" sans-serif;
